<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Joga w Markach - praktyka jogi (vinyasa, hatha) i ćwiczenia pilates dla dorosłych. Dla początkujących i średnio zaawansowanych." />
        <meta name="keywords" content="joga, pilates, Marki, joga marki, marki joga, pilates marki, marki pilates, szkoła, zajęcia, zajęcia jogi, joga zajęcia, zajęcia jogi Marki, ćwiczenia, ciało, vinyasa, hatha" />
        <meta name="robots" content="noindex" />

        <title>{% block title %}Joga w Markach{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        {#<link rel="stylesheet" href="{{ asset('app.css') }}">#}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {#<div class="tapeta">#}
            {% block body %}{% endblock %}
        {#</div>#}
    </body>
</html>
